
#enlaces .card  {
    margin: 0  ;
    padding: 25px  ;
    width: 560px  ;
    height: 315px  ;
    margin-block: 200px;
  }
  
#enlaces iframe  {
   
    margin-top: 100px;
  }
  
#enlaces iframe:hover  {
    border: 20px solid#f7f7f7  ;
  }

